<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Service Stub - Website Example</title>
</head>
<body>
  <h1>Service Stub</h1>
  <p>This example demonstrates how to configure and use service stubs in an ASP.NET MVC website.</p>
  <p>
    It adds the following service stubs:
    <ul>
      <li><a href="/hello-from-json">Static JSON from a local file</a></li>
      <li><a href="/hello-from-api">Generated JSON from a Minimal API</a></li>
      <li><a href="/hello-from-svg">SVG image from a Minimal API</a> (_default collection only)</li>
    </ul>
  </p>
</body>
</html>
